In [ ]:
ส่วนแรกจาก dannyibo โหลดดาต้าจาก sqlite
เสร็จแล้วไปเอาของสิทธัตถะ set up data to feed in the model
จนได้เป็น model

In [ ]:
#เท่โคตร ก็เลยไป query table movies มาใหม่

#จาก engine ไม่ต้องสั่งโหลดจากไฟล์ แต่สั่ง query มาแทน

movie_id_unique = 'SELECT * FROM movies'

all_movies = pd.read_sql(movie_id_unique, engine)

all_movies

In [ ]:
#นี่คือ df ที่จะเอามาใช้ตั้งต้น แล้วลบออกด้วย process_user_input()

## อ่อ แล้วต้องแปลงกลับไปเป็น ratings.csv ใหม่ด้วยสิ เพราะผลลัพธ์ที่อยากได้คือ y = df["ratings"] ถูกไหม

#แล้วค่อยเอามันไปใส่ใน predict()

#แต่เดี๋ยวต้องมาไล่ดูว่าจะใส่ฟังชั่นตรงไหนบ้างแล้วเรียกยังไง

​

ดูสิมีหนัง 9741 เรื่อง แต่มี movieId ตั้ง 193609 ratings

	index 	movieId 	title 	genres
0 	0 	1 	Toy Story (1995) 	Adventure|Animation|Children|Comedy|Fantasy
1 	1 	2 	Jumanji (1995) 	Adventure|Children|Fantasy
2 	2 	3 	Grumpier Old Men (1995) 	Comedy|Romance
3 	3 	4 	Waiting to Exhale (1995) 	Comedy|Drama|Romance
4 	4 	5 	Father of the Bride Part II (1995) 	Comedy
... 	... 	... 	... 	...
9737 	9737 	193581 	Black Butler: Book of the Atlantic (2017) 	Action|Animation|Comedy|Fantasy
9738 	9738 	193583 	No Game No Life: Zero (2017) 	Animation|Comedy|Fantasy
9739 	9739 	193585 	Flint (2017) 	Drama
9740 	9740 	193587 	Bungo Stray Dogs: Dead Apple (2018) 	Action|Animation
9741 	9741 	193609 	Andrew Dice Clay: Dice Rules (1991) 	Comedy

9742 rows × 4 columns

In [ ]:
import numpy as np
user_movie_array = np.hstack(
    ([[user_encoder]] * len(movies_not_watched), movies_not_watched)
)
user_movie_array

In [ ]:
array([[ 289,  481],
       [ 289,    1],
       [ 289,  482],
       ...,
       [ 289, 3870],
       [ 289, 2989],
       [ 289, 7869]])

In [ ]:
จริงๆเอาแค่ movies_not_watched ก็พอ